extends ../includes/template

block main
    include ../includes/menu.pug
    .banner
        img(src="./img/banner.jpg").banner__img
    -var title = ["FEUGIAT TEMPUS","MAECENAS LECTUS","LUCTUS LECTUS","POSUERE ELEIFEND"]

    -var txt = "In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.";
    section.sectionImages
        -for(var i=13; i<=16; i++)
            .section__item
                .section__title= title[i-13]
                .section__data= txt
                img(src="./img/pics"+i+".jpg").section__img
                .section__more
                    a(href="#", title="title").section__more__link MORE
    
    
    section.sectionMain
        .main
            .main__title INTEGER GRAVIDA NIBH QUIS URNA<br> 
                span.main__subtitle AUGUE PRAESENT A LACUS AT URNA CONGUE RUTRUM
            .main__data
                p This is Ex Machina, a responsive HTML5 site template freebie by TEMPLATED. Released for free under the Creative Commons Attribution license, so use it for whatever (personal or commercial) – just give us credit! Check out more of our stuff at our site or follow us on Twitter.
                p Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget lorem ipsum dolor. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat. Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat.
                p Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget lorem ipsum dolor. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat. Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat.
            .main__more
                a(href="#").main__more__link MORE DETAILS
        
        .images
            .images__title FEUGIAT TEMPUS
            .images__list
                -for(var i=7; i<=10;i++)
                    .images__item
                        if i<10
                            img(src="./img/pics0"+i+".jpg").images__img
                        else
                            img(src="./img/pics"+i+".jpg").images__img

                        .images__data
                            span Donec leo, vivamus
                            span fermentum augue praesent a
                            span lacus at urna rutrum.
        
        include ../includes/section.pug
        


