nav.nav
    .nav__logo
        a(href="#").nav__logo__link EX MACHINA
    ul.nav__list
        li.nav__item
            a.nav__link(href="#") HOMPAGE
        li.nav__item
            a.nav__link(href="#") LEFT SIDEBAR
        li.nav__item
            a.nav__link(href="#") RIGHT SIDEBAR
        li.nav__item
            a.nav__link(href="#") NO SIDEBAR
