.section
    -var titles = ["FEUGIAT TEMPUS", "NULLA LUCTUS ELEIFEND"]
    -var links = ["Maecenas luctus lectus at sapien", "Etiam rhoncus volutpat erat", "Donec dictum metus in sapien", "Nulla luctus eleifend purus", "Maecenas luctus lectus at sapien"]
        -for(var i=0; i<2; i++)
            .section__list
                .section__items__title= titles[i]
                .section__items
                    -for(var j=0; j<5; j++)
                            .section__items__item
                                a(href="#").section__items__link= links[j]
