doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Web
		link(rel="stylesheet" href="css/styles.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet")
	body
		block main
		script(src="js/scripts.js")
