// menu
.nav__item:nth-child(1) {
    border-radius: 5px;
    background-color: rgb(233, 93, 60);
    & .nav__link {
        color: white;
    }
}

// banner
.banner__img {
    width: 100%;
    height: 320px;
}

// Section images
.sectionImages {
    margin: 0 auto;
    height: 550px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__item {
    width: 285px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section__title {
    color: black;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.section__data {
    color: black;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 90%;
}

.section__more {
    height: 40px;
    width: 80px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(233, 93, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    & .section__more__link {
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 15px;
    }
}

.sectionMain {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main {
    width: 50%;
    height: 600px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.3em;
    height: 200px;
    padding-top: 30px;
    & .main__subtitle {
        font-size: .55em;
    }
}

.main__data {
    height: 400px;
    margin-top: -30px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__data>* {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.main__more {
    width: 150px;
    height: 50px;
    margin: 30px 10px 60px;
    border-radius: 5px;
    background-color: rgb(233, 93, 60);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__more__link {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.images {
    height: 100%;
    width: 25%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.images__title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    height: 50px;
    padding-top: 30px;
    margin-bottom: 10px;
    & .main__subtitle {
        font-size: .55em;
    }
}

.images__list {
    margin-bottom: 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.images__item {
    margin-right: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.images__data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}