.nav {
    height: 120px;
    padding: 0 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__logo__link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    color: black;
}

.nav__list {
    display: flex;
    flex-direction: row;
}

.nav__item {
    padding: 20px 20px;
    margin: 0 10px;
    color: rgb(51, 51, 51);
}

.nav .nav__link {
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.05em;
    font-weight: 300;
}