.section {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    height: 550px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section__list {
    padding-top: 30px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section__items__title {
    height: 30px;
    padding-bottom: 10px;
}

.section__items {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section__items__item {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.section__items__item:nth-last-child(1) {
    border-bottom: none;
}

.section__items__link {
    color: red;
    font-size: .6em;
}